.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  pointer-events: none;
}
.modal-content {
  pointer-events: all;
}
table#ellipsis {
  table-layout: fixed;
}
table#ellipsis td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
